{% extends 'template.html' %}
{% block title %} {% block header %}{{ info.name }}{% endblock %}{% endblock %}
{% block main %}
<p>{{ info.description }}</p>
<a href="{{ info.link }}">Official Timetable Link</a>
{% with fields=info.fields %}
{% if fields %}
	<table class="table table-hover mt-2">
		{% for field in fields %}
			<tr><th>{{ field.name }}</th><td>{{ field.value }}</td></tr>
		{% endfor %}
	</table>
{% endif %}
{% endwith %}
<h5 class="bg-warning p-1">Average Rating: {{ "%.1f"|format(rating) if rating else "-" }}/10</h5>
<h2>Reviews</h2>
{% include "course-reviews.html" %}
{% endblock %}
